<!-- Header (included from application layout) -->

<section class="projects">
  <!-- Repeat this block for each project -->
  <div class="project">

    <h2>Tags and Destinations</h2>
    <div class="project-images">
      <%= image_tag "tags1.png", alt:"Project 1" %>
      <%= image_tag "tags2.png", alt:"Project 1" %>
      <%= image_tag "tags3.png", alt:"Project 1" %>
    </div>
    <p class="project-description">This site allows users to search for vacation destinations based on multiple tags. Each tag has a one-to-many relationship with destinations—clicking on a tag displays the associated destinations. Users can also view, edit, and update destination details. The application utilizes the index, show, edit, and update controller actions.</p>

    </div>
    <div class="project">

    <h2>Tags and Destinations</h2>
    <div class="project-images">
      <%= image_tag "tags1.png", alt:"Project 1" %>
      <%= image_tag "tags2.png", alt:"Project 1" %>
      <%= image_tag "tags3.png", alt:"Project 1" %>
    </div>
    <p class="project-description">This site allows users to search for vacation destinations based on multiple tags. Each tag has a one-to-many relationship with destinations—clicking on a tag displays the associated destinations. Users can also view, edit, and update destination details. The application utilizes the index, show, edit, and update controller actions.</p>

    </div>
  <!-- Repeat end -->
</section>

<!-- Footer (included from application layout) -->
